@import "tailwindcss";


.custom-gradient { 
  /* background: linear-gradient(to bottom, rgba(39, 39, 39, 0.178) 10%, #404041 90%, #080808 100%); */
  background: linear-gradient(to bottom,   #ffffff00 10%, #000000 100%);
  /* background: linear-gradient(to bottom, rgb(247, 6, 6) 20%, #0505ec 60%, #080808 100%); */
}


.custom-gradient2 { 
  /* background: linear-gradient(to bottom, rgba(39, 39, 39, 0.178) 10%, #404041 90%, #080808 100%); */
  background: linear-gradient(to bottom,   #31313100 2%, #0000008e 30%, #000000 100%);
  /* background: linear-gradient(to bottom, rgb(247, 6, 6) 20%, #0505ec 60%, #080808 100%); */
}


 
